body {
  margin: 0;
  padding: 0;
  background: url('https://img.freepik.com/vector-gratis/coleccion-elementos-dibujados-mano-vuelta-al-cole_23-2149510096.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  height: 100vh; /* Ensure full height for the body */
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9); /* Increase opacity to make text more readable */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-container input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  width: calc(100% - 22px);
  padding: 10px;
  background-color: #01bfe9;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0097a7;
}

.login-container input:focus,
.login-container button:focus {
  outline: none;
  border-color: #01bfe9;
}

.login-container .error {
  color: red;
  margin-top: 10px;
}

.login-container .logo {
  margin-bottom: 20px;
}

.login-container .logo img {
  max-width: 100px;
  height: auto;
}
