/* Estilos generales */
.container {
  padding: 20px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-agregar,
.btn-editar,
.btn-eliminar {
  cursor: pointer;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px; /* Ajustado para ser más compacto */
  border-radius: 5px;
  font-size: 14px; /* Ajustado para ser más compacto */
}

.btn-editar {
  background-color: #ffc107;
}

.btn-eliminar {
  background-color: #dc3545;
}

.btn-agregar:hover,
.btn-editar:hover,
.btn-eliminar:hover {
  opacity: 0.8;
}

.alumnos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.alumnos-table th,
.alumnos-table td {
  border: 1px solid #ddd;
  padding: 6px; /* Reducido padding para tablas más compactas */
}

.alumnos-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.results-container {
  margin-top: 20px;
}

/* Estilos para las imágenes */
.foto-pequena {
  max-width: 80px; /* Reducido tamaño de las imágenes pequeñas */
  cursor: pointer;
}

.foto-en-grande-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.foto-en-grande-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.foto-en-grande-content .foto-en-grande-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.foto-en-grande-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* Tamaño de fuente ajustado para el botón de cerrar */
  color: #fff;
  cursor: pointer;
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el modal verticalmente */
  animation: slide-down 0.3s ease-out;
}

.modal-content {
  background: rgb(255, 255, 255);
  padding: 8px; /* Reducido padding para un modal más compacto */
  border-radius: 8px; /* Esquinas redondeadas */
  width: 90%; /* Ajustado para que el modal se ajuste a la pantalla */
  max-width: 320px; /* Máximo ancho del modal */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 80vh; /* Altura máxima del modal */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura */
  position: relative;
}

.close {
  position: absolute;
  top: 5px; /* Reducido margen superior */
  right: 5px; /* Reducido margen derecho */
  cursor: pointer;
  font-size: 16px; /* Tamaño de fuente ajustado */
}

.form-group {
  margin-bottom: 8px; /* Reducido margen inferior */
}

.form-group label {
  display: block;
  margin-bottom: 2px; /* Reducido margen inferior */
}

.form-group input {
  width: 100%;
  padding: 4px; /* Reducido padding para campos de entrada más compactos */
  box-sizing: border-box;
}

/* Media queries para responsive */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    max-width: 280px; /* Ajustado para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .modal-content {
    width: 95%;
    max-width: 95%;
  }
}
